<!doctype html>

<!-- 
- Author: Tebogo Christopher Seshibe
-->

<html lang="en">
	<head>
		<title> Cube </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="Tebogo Christopher Seshibe" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<canvas id="canvas" height="600" width="800"></canvas>
		<script type="text/javascript" src="fwge.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>