<!doctype html>

<!-- 
- Author: Tebogo Christopher Seshibe
-->

<html lang="en">
	<head>
		<title> Testing </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="Tebogo Christopher Seshibe" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div id="result">
			<h1 id="result-header">Tests</h1>

			<table id="result-table">
				<thead>
					<tr>
						<th>#</th>
						<th>Description</th>
						<th>Failed</th>
						<th>Passed</th>
						<th>Total</th>
					</tr>
				</thead>

				<tbody id="test-body"></tbody>
			</table>
		</div>
		<canvas id="canvas" height="360" width="480"></canvas>

		<script type="text/javascript" src="fwge.js"></script>
		<script type="text/javascript" src="test.js"></script>
	</body>
</html>