/* RESET DIVS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET DIVS */

html,
body
{
	display: block;
	position: absolute;

	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;

	overflow: hidden;

	background: #272727;
}

div#result
{
	display: block;
	position: absolute;

	top: 25px;
	left: 25px;
	height: 650px;
	width: 600px;

	border: solid 1px white;
	background: white;
	box-shadow: 0px 0px 5px black;
}

canvas#canvas
{
	display: block;
	position: absolute;

	top: 50%;
	left: 75%;
	height: 360px;
	width: 480px;

	transform: translate(-50%, -50%);
	border: solid 1px white;
	box-shadow: 0px 0px 5px black;
}

h1#result-header
{
	display: block;
	position: relative;

	top: 0px;
	left: 0px;
	height: 75px;
	width: 575px;

	padding-left: 25px;

	font-size: 28px;
	font-weight: bold;
	line-height: 75px;
}

table#result-table
{
	display: table;
	position: relative;

	top: 0px;
	left: 25px;
	height: 550px;
	width: 550px;

	color: #272727;
}

	table#result-table > thead,
	table#result-table > tbody
	{
		display: block;
	}
	table#result-table > tbody
	{
		height: 515px;
		width: 550px;
		overflow-y: auto;
	}
		table#result-table > thead > tr,
		table#result-table > tbody > tr
		{
			display: block;
			height: 35px;
			width: 100%;
		}
		table#result-table > thead > tr { border-bottom: solid 1px #272727; }
		table#result-table > tbody > tr:nth-child(odd) { background: whitesmoke; }
		table#result-table > tbody > tr:nth-child(even) { background: silver; }
			table#result-table > thead > tr > th,
			table#result-table > tbody > tr > td
			{
				display: inline-block;
				line-height: 35px;
				text-align: left;
				font-size: 14px;
				text-align: center;
			}
			table#result-table > thead > tr > th
			{
				font-weight: bold;

			}
			table#result-table > thead > tr > th:nth-child(1),
			table#result-table > tbody > tr > td:nth-child(1) { width: 6%; }
			table#result-table > thead > tr > th:nth-child(2),
			table#result-table > tbody > tr > td:nth-child(2) { width: 60%; text-align: left;}
			table#result-table > thead > tr > th:nth-child(3),
			table#result-table > tbody > tr > td:nth-child(3) { width: 10%; }
			table#result-table > thead > tr > th:nth-child(4),
			table#result-table > tbody > tr > td:nth-child(4) { width: 10%; }
			table#result-table > thead > tr > th:nth-child(5),
			table#result-table > tbody > tr > td:nth-child(5) { width: 10%; }