/* RESET DIVS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET DIVS */

/* FORMAT */
html,
body
{
	display: block;
	position: absolute;

	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;

	overflow: hidden;

    background: none;
}

header#header
{
    display: block;
    position: relative;

    top: 0px;
    left: 0px;

    height: 80px;
    width: 100vw;

    background: dimgray;
}

section#editor
{
    display: block;
    position: relative;

    top: 0px;
    left: 0px;
    min-height: 800px;
    height: calc(100vh - 200px);
    width: 100vw;
}
    section#editor > div#project
    {
        display: block;
        position: relative;

        top: 0px;
        left: 0px;
        height: 100%;
        width: 250px;

        line-height: 30px;
        color: white;
        background: #171717;

        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
        
    section#editor > div#renderer
    {
        display: inline-block;
        position: absolute;

        top: 0px;
        left: 250px;
        height: 100%;
        width: calc(100% - 625px);

        background: #272727;
    }
        section#editor > div#renderer > canvas#canvas
        {
            display: block;
            position: relative;

            top: 0px;
            left: 0px;
            height: 90%;
            width: 100%;

            background: none;
        }
        section#editor > div#renderer > div#controls
        {
            display: block;
            position: relative;

            top: 0px;
            left: 0px;
            height: 10%;
            width: 100%;
        }
        
    section#editor > div#properties
    {
        display: inline-block;
        position: absolute;

        top: 0px;
        right: 0px;
        height: 100%;
        width: 375px;

        background: darkgray;
    }

footer#console
{
    display: block;
    position: relative;

    top: 0px;
    left: 0px;
    height: 120px;
    width: 100vw;

    background: #474747;
}

div#scripts
{
    display: none;
}
/* FORMAT */

/* SIDEBAR */
section#editor > div#project > input#search
{
    display: block;
    position: relative;

    top: 0px;
    left: 0px;
    height: 45px;
    width: calc(100% - 30px);

    border: 0px;
    padding: 0px 15px;
    background: white;
}

section#editor > div#project ul
{
    display: block;
    position: relative;

    height: auto;
    width: calc(100% - 15px);

    padding-left: 15px;
    cursor: default;

    clear: both;
}
section#editor > div#project > ul#scenes { padding: 0; }

section#editor > div#project li
{
    display: block;
    position: relative;

    height: auto;
    min-height: 30px;
    width: 100%;

    cursor: default;

    transition: all 0.2s;
    clear: both;
}
section#editor > div#project li > img
{
    display: inline-block;
    position: relative;

    top: 5px;
    left: 0px;
    height: 20px;
    width: 20px;
}
section#editor > div#project li > a
{
    display: inline-block;
    position: relative;

    top: 0px;
    left: 0px;
    height: 30px;
    width: calc(100% - 45px);
    padding-left: 15px;
}
section#editor > div#project li > a:hover
{
    text-decoration: underline;
}

section#editor > div#project li.closed > ul
{
    opacity: 0;
}
section#editor > div#project li.closed > ul li { position: absolute; }
/* SIDEBAR */