body {
  margin: 0;
  background: #272727;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 75px;
  color: white;
  text-shadow: 0px 0px 2px black;
}

canvas {
  /* cursor: none; */
  position: absolute;
  top: 0px;
  left: 0px ;
  width: 100%;
  height: 100%;
}
#fpsCounter {
    z-index: 1;
}