<!doctype html>

<!-- 
- Author: Tebogo Christopher Seshibe
-->

<html lang="en">
	<head>
		<title> Testing </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="Tebogo Christopher Seshibe" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div id="options">
			<a id="Run-Tests" href="/testing/index.html">Run Tests</a>

			<div>
				<a id="Rotating-Cube" href="/projects/cube/index.html">Rotating Cube</a>
			</div>
		</div>
	</body>
</html>