import { System } from "@fwge/core";

export class {{system}} extends System
{
    // constructor(scene: Scene)
    // {
    //     super(scene, { async: true, tickRate: 60 })
    // }

    override Init(): void { }
    override Start(): void { }
    override Update(delta: number): void { }
    override Stop(): void { }
}
